*, *:before, *:after {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

/*Сброс стандартных стилей браузеров*/
html, body, div, span, applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 outline: none;
}

body {
 margin: 0 auto;
 font-family: 'Open Sans', sans-serif;
}

.surface-logo-text {
 width: 180px;
 display: flex;
 margin-left: auto;
 margin-right: auto;
 padding-top: 30px;
 padding-bottom: 135px;
}

.surface {
  position: relative;
  background-image: linear-gradient(to right, rgba(13, 13, 63, .85) 50%, rgba(49, 29, 94, .85) 100%), url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #191536;
}

.header-info-1 {
  font: normal normal bold 28px/32px 'Open Sans', sans-serif;
  color: #ffffff;
  padding-left: 20px;
}

.header-info-2 {
  font: normal normal bold 28px/32px 'Open Sans', sans-serif;
  color: #ffffff;
  padding-left: 65px;
  padding-right: 40px;
  padding-bottom: 85px;
}

.mobile-app-link {
  display: flex;
  width: 280px;
  height: 37px;
  border-radius: 100px;
  background-color: #5e42b0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
} 

.mobile-app-link:hover {
  background-color: #714fd4;
  cursor: pointer;
}

.app-svg-img {
 width: 25px;
 display: flex;
 margin-left: 80px;
}


.app-info-text {
 display: flex; 
 flex-wrap: wrap;
 max-width: 100px; 
 align-content: space-between;
}

.mobile-app-link-info-1 {
  display: flex; 
  flex-wrap: wrap;
  font: normal normal 400 8px/12px 'Open Sans', sans-serif;
  color: #ffffff;
  margin-left: 7px;
  margin-bottom: 0px;
}

.mobile-app-link-info-2 {
  display: flex; 
  flex-wrap: wrap;
  margin-top: 0px;
  margin-left: 7px;
  font: normal normal 700 8px/12px 'Open Sans', sans-serif;
  color: #ffffff;
}

.mobile-app-space-block {
  padding-bottom: 80px;
}

@media (max-width: 768px)  {
  .surface-logo-text {
  width: 130px;
  }
}

@media (min-width: 769px) and (max-width: 1919px) {
.header-info-1 {
    padding-left: 80px;
    font: normal normal bold 64px/32px 'Open Sans', sans-serif;
}
  
 .header-info-2 {
  padding-left: 185px; 
  font: normal normal bold 64px/96px 'Open Sans', sans-serif;
}
  }

@media (min-width: 1920px) {
   .header-info-1 {
    padding-left: 190px;
    font: normal normal bold 90px/135px 'Open Sans', sans-serif;
}
  
 .header-info-2 {
  padding-left: 640px; 
  font: normal normal bold 90px/135px 'Open Sans', sans-serif;
  }
}

@media (min-width: 768px) {  
 .mobile-app-link {
   height: 75px;
   min-width: 310px;
}
  
.mobile-app-link:nth-child(1) {
   margin-right: 15px;
}
  
.mobile-app-link:nth-child(2) {
   margin-left: 15px;
}
  
 .mobile-app-link-info-1 {
   margin-top: 20px;
   font: normal normal 300 14px/18px 'Open Sans', sans-serif;
}
  
.mobile-app-link-info-2 {
  margin-top: 0px;
  margin-left: 7px;
  font: normal normal 700 14px/21px 'Open Sans', sans-serif;
  color: #ffffff;
}
  
 .app-svg-img {
   width: 45px;
   display: flex;
   margin-left: 32px;
}
  
.app-info-text {
 max-width: 160px;
 align-content: flex-start;
 padding-left: 15px; 
 }
  
  .mobile-app-links {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  }
}

/*БЛОК 2*/

.athlets-players {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.athlet-img {
  position: absolute;
  display: flex;
  left: 18%;
  min-width: 560px;
  margin-top: 30px;
  padding-bottom: 900px;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/footballer_566.png);
  background-repeat: no-repeat;
  background-size: cover;
}

 .player-img {
  position: absolute;
  display: flex;
  right: 120px;
  top: 53%;
  min-width: 1000px;
  padding-bottom: 900px;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/basketballer_991.png);
  background-repeat: no-repeat;
  background-size: 90%;
 } 

.athlet-info-title {
  margin-left: 50%;
  font: normal normal 800 80px/18px 'Open Sans', sans-serif;
  color: #e7e7e7;
  padding-top: 115px;
  margin-top: 0px;
  margin-bottom: 35px;
}

.athlet-info-title-2 {
  margin-right: 50%;
  font: normal normal 800 80px/18px 'Open Sans', sans-serif;
  color: #e7e7e7;
  padding-top: 115px;
  padding-left: 195px;
  margin-top: 0px;
  margin-bottom: 35px;
}

.athlet-info-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.athlet-info-block-inside {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  width: 50%;
}

.athlet-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
}

.athlet-info-block-color-1 {
  background-color: #f6f4fa;
}


.athlet-info-block-color-2 {
  background-color: #5e42b0;
}

.athlet-info-block-color-3 {
  background-color: #0a0e34;
}

.athlet-info-block-for-number {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}

.athlet-info-number {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: 8px;
  font: normal normal 800 18px/27px 'Open Sans', sans-serif;
  color: #000000;
}

.athlet-info-number-color {
  color: #5e42b0;
}

.athlet-info-number-line {
  display: flex;
  flex-wrap: wrap;
  width: 20px;
  height: 5px;
  border-radius: 100px;
  background-color: #5e42b0;
}

.athlet-info-number-line-color {
  background-color: #efefef;
}

.athlet-info-name {
  display: flex;
  flex-wrap: wrap;
  font: normal normal 800 36px/54px 'Open Sans', sans-serif;
  color: #c1c1c1;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.athlet-info-description {
  display: flex;
  flex-wrap: wrap;
  font: normal normal 400 20px/30px 'Open Sans', sans-serif;
  color: #000000;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 55px;
  max-width: 715px;
}

.athlet-info-description-color {
  color: #ffffff;
}

.order-for-block-2 {
  padding-left: 195px;
  order: 0;
}

.order-for-block-1 {
  order: 1;
}

@media (min-width: 320px) and (max-width: 768px) {
  .athlet-img {
    position: relative;
    display: flex;
    margin-right: auto;
    margin-top: auto;
    order: 1;
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/footballer_192.png);
    background-repeat: no-repeat;
    min-width: 200px;
    padding-bottom: 300px;
    background-size: 100%;
  } 
  
  .player-img {
    position: relative;
    top: 10px;
    left: 15px;
    display: flex;
    order: 0;
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/basketballer_302.png);
    background-repeat: no-repeat;
    min-width: 270px;
    padding-bottom: 230px;
    background-size: 100%;
  }
  
  .athlet-info-title {
    display: flex;
    order: 0;
    width: 100%;
    margin-left: auto;
    padding-left: 5%;
    padding-top: 30px;
    font: normal normal 800 50px/18px 'Open Sans', sans-serif;
  }
  
   .athlet-info-title-2 {
    display: flex;
    order: 2;
    width: 100%;
    margin-left: auto;
    padding-left: 5%;
    padding-top: 30px;
    font: normal normal 800 50px/18px 'Open Sans', sans-serif;
  }

  .athlet-info-block {
    order: 2;
  }
  
  .athlet-info-block-mobile-color {
    background-color: #fafafa;
  }

  .athlet-info-block-inside {
    width: 5%;
  }

  .athlet-info {
    width: 95%;
  }

.athlet-info-number {
  font: normal normal 800 14px/20px 'Open Sans', sans-serif;
}

.athlet-info-number-line {
  width: 17px;
}

.athlet-info-name {
  font: normal normal 800 23px/45px 'Open Sans', sans-serif;
}

 .athlet-info-description {
   font: normal normal 400 15px/18px 'Open Sans', sans-serif;
   min-width: 280px;
   padding-right: 20px;
 }
  
  .athlet-info-block-for-number {
    margin-top: 30px;
  }  
  
  .order-for-block-2 {
   padding-left: 5%;
   width: 100%;
  }

.order-for-block-1 {
  width: 0%;
  margin-left: 0;
 } 
}

@media (min-width: 769px) and (max-width: 1280px) {
  .athlet-info-name {
    font: normal normal 800 32px/54px 'Open Sans', sans-serif;
  }
  
  .athlet-img {
    position: absolute;
    display: flex;
    left: -170px;
    top: 70px;
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/footballer_497.png);
    background-repeat: no-repeat;
    background-size: 90%;
  }
  
  .player-img {
    position: absolute;
    display: flex;
    top: 55%;
    right: 0;
    min-width: 450px;
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/basketballer_436.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .athlet-info-description {
    font: normal normal 400 16px/28px 'Open Sans', sans-serif;
    max-width: 450px;
    margin-top: 5px;
    margin-bottom: 35px;
  }
  
  .athlet-info-block-inside {
    width: 38%;
  }

  .athlet-info {
    width: 62%;
  }
  
  .athlet-info-title {
    margin-left: 38%;
  }
   
  .athlet-info-title-2 {
   padding-left: 25px;
  }
  .athlet-info-block-for-number {
    margin-top: 35px;
  }
  
  .order-for-block-2 {
   padding-left: 25px;
  } 
}

@media (min-width: 1281px) and (max-width: 1919px) {
  .athlet-img {
    left: -150px;
    top: 70px;
    background-size: 100%;
  }
  
  .player-img {
    right: 80px;
    background-size: 100%;
    min-width: 750px;
  }
}

@media (min-width: 1920px) {
  .athlet-img {
    left: -150px;
    top: 70px;
    background-size: 100%;
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/footballer_566.png);
  }
}


/*БЛОК 3*/

.advantages-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

 .advantages-block-information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 }

.advantages-img-1 {
  display: flex;
  flex-wrap: wrap;
}

.advantages-img-2 {
  display: flex;
  flex-wrap: wrap;
}

.advantages-img-3 {
  display: flex;
  flex-wrap: wrap;
}

.advantages-img-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  min-width: 70px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  left: 20px;
  background-color: #5e42b0;
}

.advantages-img-block-for-number {
  display: flex;
  font: normal normal 800 14px/21px 'Open Sans', sans-serif;
  color: #f5f6f7;
}

.advantages-img-block-for-number-line {
  display: flex;
  width: 18px;
  height: 5px;
  border-radius: 100px;
  background-color: #8f7bc8;
}

.advantages-block-information-title {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  margin-bottom: auto;
  font: normal normal 800 28px/42px 'Open Sans', sans-serif;
  color: #e7e7e7;
}

.advantages-block-information-text {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 80px;
  font: normal normal 400 16px/24px 'Open Sans', sans-serif;
  color: #000000;
}

@media (max-width: 767px) {
.advantages-img-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 350px;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/be-active_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dff1fd;
 }
  
 .advantages-img-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 350px;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/find-contact_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dff1fd;
}

.advantages-img-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 350px;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/work-it_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dff1fd;
}
  
}


@media (min-width: 769px) and (max-width: 1919px)  {
 .advantages-img-1 {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 580px;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/be-active_960.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dff1fd;
 }
  
 .advantages-img-2 {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 580px;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/find-contact_960.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dff1fd;
 }
  
 .advantages-img-3 {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 580px;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/work-it_960.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dff1fd;
 }
  
 .advantages-img-block-for-number {
  font: normal normal 800 24px/36px 'Open Sans', sans-serif;
 }  
  
 .advantages-img-block {
  min-width: 115px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 38px;
  padding-bottom: 38px;
  left: 35px;
  background-color: #5e42b0;
 }
  
.advantages-block-information-title {
  padding-top: 5%;
  padding-left: 32px;
  padding-bottom: 0px;
  margin-bottom: auto;
  margin-right: auto;
  font: normal normal 800 80px/60px 'Open Sans', sans-serif;
  color: #e7e7e7;
}  

.advantages-block-information-text {
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 80px;
  padding-bottom: 100px;
  font: normal normal 400 24px/28px 'Open Sans', sans-serif;
  color: #000000;
 }  
}

@media (min-width: 1920px) {  
 .advantages-block-information {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
 }  
  
  .advantages-img-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  padding-top: 730px;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/be-active_1024.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dff1fd;
 } 
  
 .advantages-img-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  padding-top: 730px;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/find-contact_1024.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dff1fd;
 } 
  
 .advantages-img-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  padding-top: 730px;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/work-it_1024.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dff1fd;
 } 
  
  
 .advantages-img-block {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 170px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #5e42b0;
 }
  
 .advantages-img-block-for-wide-screen-2 {
  top: 40%;
  left: -85px;
 }
  
 .advantages-img-block-for-wide-screen-1 {
  top: 40%;
  right: -85px;
  max-width: 170px;
  margin-left: auto; 
 }
  
  .advantages-img-2 {
    order: 1;
  }
  
 .advantages-img-block-for-number {
  font: normal normal 800 24px/35px 'Open Sans', sans-serif;
 }  
  
 .advantages-block-information-title {
  padding-top: 230px;
  padding-left: 130px;
  padding-bottom: 0px;
  margin-bottom: auto;
  margin-right: auto;
  font: normal normal 800 80px/60px 'Open Sans', sans-serif;
  color: #e7e7e7;
}  
  
 .advantages-block-information-text {
  padding-top: 90px;
  padding-left: 130px;
  max-width: 750px;
  padding-bottom: 100px;
  font: normal normal 400 24px/28px 'Open Sans', sans-serif;
  color: #000000;
 } 
  
 .advantages-img-block-for-number-line {
  display: flex;
  width: 27px;
  height: 5px;
  border-radius: 100px;
  background-color: #8f7bc8;
 }
}

/*БЛОК 4*/
.footer-for-logo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-image: linear-gradient(to right, rgba(13, 13, 63, .85) 50%, rgba(49, 29, 94, .85) 100%), url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #191536;
}

.surface-logo-small-svg {
 width: 70%;
 display: flex;
 margin-left: auto;
 margin-right: auto;
 fill: #ffffff;
}

.surface-logo-small {
  display: flex;
  width: 130px;
  height: 130px;
  border-radius: 30px;
  background-color: #5e42b0;
  margin-left: auto;
  margin-top: 230px;
}

.download-app-info {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 margin-left: 35px;
 margin-right: auto;
 margin-top: 170px;
}

.download-app-title {
 display: flex;
 flex-wrap: wrap;
 font: normal normal bold 80px/60px 'Open Sans', sans-serif;
 color: #ffffff;
 margin-bottom: auto;
}

.download-app-promo {
 display: flex;
 flex-wrap: wrap;
 margin-top: 15px;
 font: normal normal bold 30px/35px 'Open Sans', sans-serif;
 color: #a496ca;
}

.download-application-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 255px;
}

.download-application-1 {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 75px;
  border-radius: 100px;
  background-color: #5e42b0;
  margin-left: auto;
  margin-right: 25px;
}

.download-application-2 {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 75px;
  border-radius: 100px;
  background-color: #5e42b0;
  margin-right: auto;
  margin-left: 25px;
}

.download-application:hover, .download-application-2:hover, .download-application-1:hover {
  background-color: #714fd4;
  cursor: pointer;
}

.download-application-apple-svg {
 width: 50px;
 display: flex;
 flex-wrap: wrap;
 margin-left: 30px;
}

.download-application-info-block {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
}

.download-application-info-block-comments-1 {
  display: flex;
  flex-wrap: wrap;
  font: normal normal 400 14px/21px 'Open Sans', sans-serif;
  color: #ffffff;
  padding-left: 28px;
  margin-top: 20px;
  margin-bottom: 0;
}

.download-application-info-block-comments-2 {
  display: flex;
  flex-wrap: wrap;
  font: normal normal 800 14px/21px 'Open Sans', sans-serif;
  color: #ffffff;
  padding-left: 28px;
  margin-bottom: 0;
  margin-top: 0;
}

.surface-with-text {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.surface-with-text-logo {
 display: flex;
 flex-wrap: wrap;
 margin-left: auto;
 margin-right: auto;
 width: 190px;
}

@media (max-width: 768px) {
 .surface-logo-small {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: #5e42b0;
  margin-top: 100px;
 }
  
  .download-app-info {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
  }

.download-app-promo {
 display: flex;
 flex-wrap: wrap;
 padding-top: 0px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 0px;
 font: normal normal bold 14px/21px 'Open Sans', sans-serif;
 color: #a496ca;
 }  
  
.download-app-title {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: auto;
  font: normal normal bold 32px/48px 'Open Sans', sans-serif;
  color: #ffffff;
 }
  
 .download-application-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 75px;
  margin-bottom: 50px;
 }
  
.download-application-1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto; 
  margin-left: auto;
  width: 280px;
  height: 35px;
  border-radius: 100px;
  background-color: #5e42b0;
}

.download-application-2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto; 
  margin-left: auto;
  margin-top: 15px;
  width: 280px;
  height: 35px;
  border-radius: 100px;
  background-color: #5e42b0;
 }    

.download-application-apple-svg {
 width: 20px;
 display: flex;
 flex-wrap: wrap;
 margin-left: 34%;
 }
  
.download-application-info-block {
 display: flex;
 flex-wrap: wrap;
 margin-right: auto;
 flex-direction: column;
}
  
 .download-application-info-block-comments-1 {
  display: flex;
  flex-wrap: wrap;
  font: normal normal 400 8px/15px 'Open Sans', sans-serif;
  color: #ffffff;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 0;
}

.download-application-info-block-comments-2 {
  display: flex;
  flex-wrap: wrap;
  font: normal normal 800 8px/11px 'Open Sans', sans-serif;
  color: #ffffff;
  padding-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
 }
}

@media (min-width: 769px) and (max-width: 1919px) {
  .download-app-info {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
  }
  
 .surface-logo-small {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 130px;
  border-radius: 30px;
  background-color: #5e42b0;
  margin-top: 120px;
 }
  
.download-app-promo {
 padding-top: 10px;
 margin-left: auto;
 margin-right: auto; 
 }  
  
.download-app-title {
  margin-left: auto;
  margin-right: auto; 
 }
  
 .download-application-block {
  margin-top: 280px;
  margin-bottom: 50px;
 }
}
